.footer {
  position: relative;
  background-color: #14301F;

  &-brand {

    &__luft {
      position: absolute;
      margin-top: 0.1rem;
      margin-left: 0.625rem;
      color: $color-light;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.125rem;
    }

    &__software {
      position: absolute;
      margin-top: 0.1rem;
      margin-left: 3.4375rem;
      color: $color-gray;
      font-style: normal;
      font-weight: 200;
      line-height: 1.125rem;
      letter-spacing: 0.0625rem;
    }

  }

  &-bottom {
    background-color: #08120C;
  }

  &-element {

    &__p {
      margin-top: 1.25rem;
      //margin-left: 1.875rem;
      width: 31.25rem;
    }

    ::placeholder {
      color: $color-light;
      font-size: 1.125rem;
      font-weight: 300;
    }

    &__input {
      background-color: #55695D;
      border-color: $color-light;
      margin-top: 2rem;
      max-width: 32rem;
      height: 3.125rem;
      margin-bottom: 1.25rem;
      //margin-left: 1.875rem;
      width: 31.25rem;
      border-width: 0.125rem;
      border-radius: 0.125rem;
    }

    &__button {
      float: right;

      &--en {
        background-color: $color-light;
        margin-top: 2rem;
        height: 3.125rem;
        border-radius: 0.0625rem;
        width: 8rem;
        font-size: 1.25rem;
        font-weight: 700;
        color: #2F4839;
      }
    }

    &__text {
      font-family: $font-main;
      font-size: 2rem;
      font-style: normal;
      font-weight: 900;
      line-height: 2.875rem;
      letter-spacing: 0.125rem;
      text-align: left;
    }

    &__link {

      &--first {
        float: right;
        opacity: 50%;
      }

      &--second {
        float: right;
        opacity: 50%;
      }
    }
  }
}

a {
  text-decoration: none;
}