.footer {
  position: relative;

  &-brand {

    &__luft {
      position: absolute;
      margin-top: 0.625rem;
      margin-left: 0.625rem;
      color: $color-light;
      font-size: 1.0625rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.125rem;
    }

    &__software {
      position: absolute;
      margin-top: 0.625rem;
      margin-left: 3.4375rem;
      color: $color-gray;
      font-style: normal;
      font-weight: 200;
      line-height: 1.125rem;
      letter-spacing: 0.0625rem;
    }

    &__img {
      margin-left: 3.43rem;
    }
  }

  &-element {

    &__button {
      margin-left: 10rem;
    }

    &__text {
      font-family: $font-main;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 900;
      line-height: 2.875rem;
      letter-spacing: 0.125rem;
      text-align: left;
    }

    &__link {

      &--first {
        position: absolute;
        margin-top: 3.125rem;
        margin-left: 20rem;
        opacity: 50%;
      }

      &--second {
        position: absolute;
        margin-top: 1.25rem;
        margin-left: 10rem;
        opacity: 50%;
      }
    }
  }
}