.latest {
  position: relative;

  &-element {

    &__p {
      width: 12.5rem;
      height: 2.5rem;
      left: 2.5rem;
      margin-top: 2rem;

      font-style: normal;
      font-weight: 900;
      font-size: 1.875rem;
      line-height: 2.5rem;
      letter-spacing: 0.0625rem;

      color: #14301F;
    }
  }
}

.section {

  &-p {
    width: 50rem;
    height: 2.5rem;
    left: 2.5rem;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    margin-left: 3.125rem;
    font-style: normal;
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 2.5rem;

    letter-spacing: 0.0625rem;

    color: #14301F;
  }

  padding: 1.25rem;
}

.section-buttons {

  &__component {
    margin-right: 0.35rem;
  }

  padding-bottom: 1.25rem;
  padding-left: 3.125rem;
}

.section-button-sort {
  text-transform: uppercase;

  &--active {
    font-weight: bolder;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  margin: auto;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 1.5625rem;
}

.main {
  background: #FAFAFA;
  position: relative;

  &-content {
    height: 87.5rem;

    &__desc {
      position: absolute;
      width: 22rem;
      height: 2rem;
      left: 6.875rem;
      padding-top: 5.625rem;
      font-style: normal;
      font-weight: 650;
      font-size: 1.5625rem;
      line-height: 2rem;
    }

    &__text {

      &--first {
        position: absolute;
        width: 37.5rem;
        height: 9rem;
        left: 6.875rem;
        padding-top: 9.375rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      &--second {
        position: absolute;
        width: 37.5rem;
        height: 9rem;
        left: 6.875rem;
        padding-top: 15.625rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      &--right {
        position: absolute;
        width: 37.5rem;
        height: 9rem;
        left: 53.125 re,;
        padding-top: 9.375rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
      }

    }

    &__image {
      width: 16.25rem;
      height: 15.3125rem;
      margin-top: 5rem;
      margin-left: 13.125rem;
    }

    &__picture {
      margin-top: 6.25rem;
      height: auto;
      min-width: 100%;
    }
  }
}

.section-cards {

  display: grid;
  justify-content: start;
  margin-left: 3.125rem;

  &__p {
    margin-bottom: 0.9375rem;
    margin-left: 0.9375rem;
    font-style: normal;
  }

  &__title {
    margin-top: 0.9375rem;
    margin-left: 0.9375rem;
    font-style: normal;
    font-weight: 650;
    font-size: 1.5625rem;
  }

  &__button {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    margin-left: 0.9375rem;
  }
}

.section-card {
  &__author {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.875rem;
    letter-spacing: 0.0625rem;
    text-align: left;
    color: #A9B3AD;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 700;
  }

  &__text {
    font-weight: 500;
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}