body {
  background-color: #E5E5E5;
  font-size: $font-size;
}

.latest {
  position: relative;

  &-element {

    &__p {
      width: 12.5rem;
      height: 2.5rem;
      left: 2.5rem;
      margin-top: 2rem;

      font-style: normal;
      font-weight: 900;
      font-size: 1.875rem;
      line-height: 2.5rem;
      letter-spacing: 0.0625rem;

      color: $color-grin;
    }
  }
}

.section {



  &-cd__body {
    background-color: #E5E5E5;
    &--a {
      background-color:#F0F0F0;
    }
  }

  &-card {

    &__post {
      display: grid;
      grid-row-gap: 0.625rem;
      grid-column-gap: 0.625rem;
      //grid-template-columns: minmax(0, min-content) 1fr 1fr 1fr minmax(0, min-content);
      //grid-template-rows: repeat(5, minmax(min-content, max-content));
      margin-left: 42rem;
      margin-top: -28rem;
      width: 37.5rem;
      height: 25rem;
      padding: 0.625rem;
      background: $color-grin;

      &--d1 {
        align-self: start;
        margin-bottom: 8rem;
        width: 7rem;
        height: 7rem;
        grid-row: 2 / 4;
        grid-column: 2;
      }

      &--d2 {
        width: 18rem;
        height: 18rem;
        //margin-right: 5rem;
        padding-top: 3rem;
        align-self: start;
        grid-row: 1 / 3;
        grid-column: 3;
      }

      &--d3 {
        width: 7rem;
        height: 7rem;
        //padding-top: -1rem;
        //margin-right: 5rem;
        grid-row: 2;
        grid-column: 4;
        align-self: end;
      }

      &--d4 {
        width: 4rem;
        height: 4rem;
        align-self: start;
        grid-row: 3 / 7;
        grid-column: 3;
      }

      &--d5 {
        width: 10rem;
        height: 10rem;
        //padding-top: -7rem;
        grid-row: 3 / 6;
        grid-column: 4;
        align-self: end;
      }

      &--img {
        display: block;
        max-width: 100%;
        height: auto
      }
    }

    &__body {
      background-color: $color-grin;
      height: 31.25rem;
      border-radius: 0.625rem;

      &--photo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        padding: 0;

        width: 37.5rem;
        height: 24.0625rem;
        background-color: red;
        margin-left: 45rem;
        margin-top: -25rem;
      }

      &--subtitle {
        margin-left: 1.25rem;
        margin-top: 1rem;
      }

      &--title {
        color: $color-light;
        width: 25rem;
        margin-left: 1.25rem;
        margin-top: 1rem;
        font-size: 1.875rem;
        font-weight: 700;

      }

      &--text {
        color: $color-light;
        width: 37.5rem;
        margin-left: 1.25rem;
        margin-top: 1rem;

      }

      &--btn {
        margin-left: 1.25rem;
        margin-top: 7.1875rem;
        font-weight: 700;
        color: $color-grin;
      }

    }

  }

  &-info {
    border-width: 0.125rem;
    background-color: #EAEAEA !important;
    border-radius: 0.125rem;

    &__a {
      background-color: #EAEAEA !important;
      border-width: 0.125rem;
      border-radius: 0.125rem;
    }

    &__title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-left: 1rem;
      &--s {
        width: 70%;
        margin-left: 1rem;
      }
    }

    &__text {
      color: #006427;
      margin-left: 1rem;
      margin-bottom: 2rem;
      &--c {
        color: #006427;
      }
    }

    &__img {
      width: 1.25rem;
      height: 2rem;
      margin-left: 2rem;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }

  }

  &-brands {
    width: 2rem;
    height: 10rem;
    padding-top: 2.5rem;
    margin-left: 5rem;
    margin-bottom: 3.125rem;

    &__img {
      margin-top: 1rem;
    }
  }

  &-forms {

    &__file {
      background-color: $color-light;
      border: 0.0625rem solid #CED4DA;
      border-radius: 0.25rem;
      height: 13rem;
    }

    &__btn {
      background-color: $color-grin;
      margin-top: 1.5rem;
      border-radius: 0.125rem;
      font-size: 1rem;
      font-weight: 600;
    }

    &__email, &__name, &__current, &__exp {
      height: $f-s;
      border-radius: 0.1875rem;
    }

  }

  &-title {
    width: auto;
    margin-top: 2rem;
    margin-left: 0!important;
  }

  &-h {

    //&__four {
    //  font-weight: 400;
    //  margin-left: 3.125rem;
    //}

    &__three {
      margin-top: 2.625rem;
      font-size: 2rem;
      font-weight: 650;
      margin-left: 3.125rem;
    }

  }

  &-j {
    height: 2.5rem;
    font-style: normal;
    width: 20rem;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.5rem;

    letter-spacing: 0.0625rem;

    color: $color-grin;
  }

  &-p {
    height: 2.5rem;
    font-style: normal;
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 2.5rem;

    letter-spacing: 0.0625rem;

    color: $color-grin;


    &__job {
      width: 50rem;
      height: 2.5rem;
      left: 2.5rem;
      margin-top: 1.875rem;
      margin-bottom: 1.25rem;
      margin-left: 3.125rem;
      font-style: normal;
      font-weight: 900;
      font-size: 2.5rem;
      line-height: 2.5rem;

      letter-spacing: 0.0625rem;

      color: $color-grin;
    }
  }
  &-about {
    &__description {
      margin-bottom: 3rem;
    }
    &__img {
      width: 62.5rem;
    }
    &__s {
      color: #7D7D7D;
      font-weight: normal;
    }
  }

  padding: 1.25rem;
}

.section-buttons {

  margin-top: 1.5rem;
  margin-bottom: -0.5rem;

  &__a {
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
    margin-left: 1.2rem;
  }

  &__component {
    margin-right: 0.35rem;
    border-radius: 0.125rem;
    border-width: 0.125rem;

    &--a {
      margin-right: 0.35rem;
    }
  }

  padding-bottom: 1.25rem;
  padding-left: 3.125rem;
}

.section-button-sort {
  text-transform: uppercase;

  &--active {
    font-weight: bolder;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  &-border {
    border: 0.1875rem solid black;
  }
}

.card {
  background-color: #EAEAEA !important;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 1.5625rem;
  &-l {
    max-width: 40rem;
    margin-right: 5rem;
  }
  &-r {
    max-width: 40rem;
    margin-right: 5rem;
  }
  &-title {
    margin-left: 1rem;
  }
  &-btn {
    margin-left: 1rem;
    margin-bottom: 5rem;
  }

  &-btn {
    border: 0.125rem solid #E4E4E4;
    border-radius: 0.4375rem;
    background-color: #FFFFFF;
    color: #727272;
    font-weight: 600;
  }
  &-button {
    border: 0.125rem solid #727272;
    border-radius: 0.4375rem;
    background-color: #FFFFFF;
    color: #727272;
    font-weight: 600;
  }
  &-title {
    font-size: 1.6875rem;
    font-weight: 700;
  }
}

.main {
  background-color: #E5E5E5;
  position: relative;
  &-desc {
    font-size: 1.8rem;
    font-weight: 700;
    color: #14301F;
  }
  &-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: #14301F;;
  }
  &-image {
    width: 16.25rem;
    height: 15.3125rem;
  }
}

.section-cards {

  display: grid;
  justify-content: start;

  &__p {
    margin-bottom: 0.9375rem;
    margin-left: 0.9375rem;
    font-style: normal;
  }

  &__title {
    margin-top: 0.9375rem;
    margin-left: 0.9375rem;
    font-style: normal;
    font-weight: 650;
    font-size: 1.5625rem;
  }

  &__button {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    margin-left: 0.9375rem;
  }
}

.section-card {

  &__author {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.875rem;
    letter-spacing: 0.0625rem;
    text-align: left;
    color: #A9B3AD;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 700;
  }

  &__text {
    font-weight: 500;
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}

.section-info:hover {
  border-color: $color-black;
  background-color: #F3F3F3;
}

.section-info__a:hover {
  border-color: $color-black;
  background-color: #F3F3F3;
}
