@media screen and (max-width: 1350px) {
  .section {
    &-info {
      &__a {
        margin-left: 10rem;
      }
    }

    &-card {
      &__post {
        display: none;
        //margin-left: 0rem;
        //margin-top: 0rem;
      }
    }
  }
}

@media screen and (max-width: 1200px) {

  .section {
    &-info {
      width: 25rem !important;

      &__a {
        margin-left: 1.2rem;
        width: 25rem !important;
      }
    }

    &-more {
      &__title {
        margin-left: 21.875rem;
      }

      &__box {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
      }
    }

    &-p {
      width: 34rem;
    }

    &--title {
      max-width: 40rem;
    }

    &-card__body {
      max-width: 60rem;
    }
  }

  .main-content {

    &__text {
      &--right {
        max-width: 36.5rem !important;
        padding-top: 25rem;
        margin-left: -46rem;
      }
    }
  }

  .card {
    max-width: 60rem;
  }

  .footer-element {
    &__link {
      &--second {
        margin-top: -1rem;
        margin-left: -1.5rem;
      }

      &--first {
        margin-top: 2rem;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 992px) {

  .section {
    &-cards {
      margin-left: 0;

      &__body {
        display: none;
      }
    }

    &-brands {
      margin-left: 0;
    }

    &-forms {
      width: 38rem;

      &__control {
        display: none;
      }

      &__email, &__name, &__current {
        max-width: 43.75rem;
      }

      &__exp {
        max-width: 18.3125rem;
      }
    }

    &-title {
      width: 43.75rem;
      margin-top: 2rem;
      margin-left: 3.125rem;
    }

    &-more__title {
      margin-left: 16rem;
    }
  }

  .footer-element {
    &__link {
      &--second {
        margin-left: -12rem;
        margin-top: 0;
      }

      &--first {
        margin-left: 0;
      }
    }

    &__p {
      margin-left: 22%;
      margin-right: 17%;
    }

    &__button--en {
      margin-right: 17%;
    }

    &__input {
      margin-left: 17%;
    }
  }

  .main-content {
    height: 60rem;

    &__desc {
      padding-top: 3rem;
    }

    &__image {
      display: none;
    }

    &__picture {
      margin-top: 22rem;
    }

    &__text {
      &--right {
        width: 17rem;
        height: 7rem;
        left: 77rem;
        padding-top: 7rem;
        font-size: 0.8rem;
      }

      &--first {
        width: 20rem;
        height: 7rem;
        left: 6.875rem;
        padding-top: 7rem;
        font-size: 0.8rem;
      }

      &--second {
        width: 20rem;
        height: 7rem;
        left: 6.875rem;
        padding-top: 12rem;
        font-size: 0.8rem;
      }
    }
  }

  //.footer-element__link--first {
  //  max-width: 6.25rem;
  //}
  //.section-forms__control {
  //  max-width: 37.5rem;
  //}
}

@media screen and (max-width: 768px) {

  .section {
    //&-info__a {
    //  margin-left: 0!important;
    //}
    &-brands {
      margin-left: 4.5rem;
      margin-right: 4.5rem;
    }

    &-card {
      &__body {
        height: auto;

        &--text {
          padding-right: 30%;
          max-width: 110%;
        }

        &--title {
          padding-right: 10%;
          max-width: 100%;
        }
      }
    }

    &-cards {
      margin-left: 0;
    }

    &-more {
      &__title {
        margin-left: 10.625rem;
      }

      &__box {
        margin-left: 6.5rem !important;
      }
    }

    &-title {
      width: 31.25rem;
      margin-top: 2rem;
      margin-left: 3.125rem;
    }

    &-forms {
      width: 20rem;

      &__email, &__name, &__current, &__exp {
        max-width: 31.25rem;
      }

      &__btn {
        margin-left: 3.75rem;
      }
    }

    &-p {
      width: 30rem;
    }
  }

  .footer-element {
    &__link {
      &--second {
        margin-top: -1.2rem;
        margin-left: -14rem;
      }

      &--first {
        margin-top: 2rem;
        margin-left: 6rem;
      }
    }

    &__p {
      width: 25rem;
    }

    &__button {
      margin-left: 0;
    }
  }

  .header-content__description {
    width: 18.75rem;
  }

  .main-content {
    height: 70rem;

    &__image {
      display: none;
    }

    &__text--right {
      margin-top: 15rem;
      margin-left: -70rem;
    }
  }

  .form-group {
    width: 25rem;
    margin-left: 0.0625rem;
  }
  //.section-more__box {
  //  margin-left: 5rem;
  //}
  //
  //.section-forms__exp {
  //  max-width: 18.8rem;
  //  margin-right: 0;
  //}
}

@media screen and (max-width: 576px) {

  .main-content__desc {
    margin-left: -3rem;
  }

  .section {
    &-info {
      display: none;

      &__a {
        display: none;
      }
    }

    &-about__tags {
      display: inline;
    }


    &-p {
      width: 20rem;
      margin-bottom: 2.5rem;
      margin-left: 2rem;
    }

    &-cards {
      margin-left: 0;
    }

    &-more {
      &__title {
        margin-left: 6.25rem;
      }

      &__box {
        max-width: 12.5rem;
        margin-left: 2.5rem !important;
        margin-right: 3.125rem !important;
      }
    }

    &-title {
      width: 18.75rem;
      margin-top: 2rem;
      margin-left: 3.125rem;
    }

    &-forms {
      &__email, &__name, &__current {
        max-width: 18.75rem;
      }
    }

    &-buttons {
      padding-left: 0;
    }
  }

  .footer-element {
    &__p {
      width: 20rem;
      margin-left: 13%;
    }

    &__input {
      display: none;
    }

    &__button--en {
      display: none;
    }

    &__link {
      &--second {
        margin-top: 1rem;
      }

      &--first {
        margin-top: 4.5rem;
      }
    }
  }
  //.section-more__box {
  //  //margin-right: 20rem!important;
  //  //width: 15.625rem;
}

@media screen and (max-width: 435px) {
  .section {
    padding: 0;

    &-buttons {
      margin-left: 2rem;
    }

    &-more {
      &__box {
        margin-left: 0 !important;
        width: 15.625rem;
      }

      &__title {
        margin-left: 3.5rem;
      }
    }

    &-forms {
      max-width: 19rem;

      &__email, &__name, &__current, &__exp {
        max-width: 16rem;
        margin-right: 0;
      }
    }

    &-p {
      font-size: 2.1875rem;
      width: 14rem;
      margin-left: 5rem;
    }

    &-title {
      margin-left: 1.5rem;
    }
  }
  .footer-element {
    &__p {
      //width: 5rem!important;
      margin-left: 0.5rem;
      //margin-right: 5rem!important;
    }

    &__link {
      &--second {
        display: none
      }

      &--first {
        display: none
      }
    }
  }

  .main {
    margin-top: 1.5rem;

    &-content {
      &__desc {
        font-size: 1.2rem;
        width: 17rem;
        margin-left: -3rem;
      }

      &__text {
        &--second {
          width: 16rem;
          margin-left: -3rem;
        }

        &--first {
          width: 16rem;
          margin-left: -3rem;
        }

        &--right {
          width: 16rem;
          margin-left: -73rem;
        }
      }
    }
  }
}
