@media screen and (max-width: 1200px) {

  .section-info {
    display: none;
  }

  .section-more__title {
    margin-left: 21.875rem;
  }

  .section-p {
    width: 34rem;
  }

  .section-title {
    max-width: 40rem;
  }

  .main-content__picture {
    max-width: 18.75rem;
  }

  .card {
    max-width: 60rem;
  }

  .section-card__body {
    max-width: 60rem;
  }

  .footer-element__link--second {
    margin-top: -1.3rem;
    margin-left: -1.5rem;
  }

  .footer-element__link--first {
    margin-top: 2rem;
    margin-left: 0;
  }

  .section-more__box {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
}

@media screen and (max-width: 992px) {

  .section-cards {
    margin-left: 0;
  }

  .footer-element__link--second {
    display: none;
  }
  .footer-element__link--first {
    display: none;
  }

  .section-card__body {
    display: none;
  }

  .section-brands {
    margin-left: 0;
  }

  .main-content__image {
    display: none;
  }

  .footer-element__link--first {
    max-width: 6.25rem;
  }

  .section-forms__control {
    display: none;
  }

  .main-content__picture {
    margin-top: 6.25rem;
    height: auto;
    width: 3.125rem;
  }

  .main-content__text {

    &--right {
      position: absolute;
      width: 20rem;
      height: 7rem;
      left: 30rem;
      padding-top: 9.375rem;
      font-style: normal;
      font-weight: normal;
      font-size: 0.7rem;
      line-height: 1.5rem;
    }

    &--first {
      position: absolute;
      width: 20rem;
      height: 7rem;
      left: 6.875rem;
      padding-top: 9.375rem;
      font-style: normal;
      font-weight: normal;
      font-size: 0.7rem;
      line-height: 1.5rem;
    }

    &--second {
      position: absolute;
      width: 20rem;
      height: 7rem;
      left: 6.875rem;
      padding-top: 15.625rem;
      font-style: normal;
      font-weight: normal;
      font-size: 0.7rem;
      line-height: 1.5rem;
    }
  }

  .section-title {
    width: 43.75rem;
    margin-top: 2rem;
    margin-left: 3.125rem;
  }

  .section-forms__email, .section-forms__name, .section-forms__current {
    max-width: 43.75rem;
  }

  .section-forms__exp {
    max-width: 18.3125rem;
  }

  .section-forms__control {
    max-width: 37.5rem;
  }
}

@media screen and (max-width: 768px) {

  .section-cards {
    margin-left: 0;
  }

  .footer-element__link--second {
    display: none;
  }

  .footer-element__link--first {
    display: none;
  }

  .footer-element__p {
    width: 25rem;
  }

  .header-content__description {
    width: 18.75rem;
  }

  .section-more__title {
    margin-left: 10.625rem;
  }

  .main-content__image {
    display: none;
  }

  .main-content__text--right {
    margin-top: 18.75rem;
    padding-right: 18.75rem;
  }

  .section-more__box {
    margin-left: 12.5rem;
  }

  .section-title {
    width: 31.25rem;
    margin-top: 2rem;
    margin-left: 3.125rem;
  }

  .section-forms__email, .section-forms__name, .section-forms__current, .section-forms__exp {
    max-width: 31.25rem;
  }

  .form-group {
    width: 25rem;
    margin-left: 0.0625rem;
  }

  .section-p {
    width: 30rem;
  }

}

@media screen and (max-width: 576px) {

  .section-p {
    width: 16rem;
    margin-bottom: 2.5rem;
    margin-left: 2rem;
  }

  .section-cards {
    margin-left: 0;
  }

  .footer-element__link--second {
    display: none;
  }

  .footer-element__link--first {
    display: none;
  }

  .section-more__title {
    margin-left: 6.25rem;
  }

  .section-more__box {
    margin-left: 1.25rem;
    width: 15.625rem;
  }

  .section-title {
    width: 18.75rem;
    margin-top: 2rem;
    margin-left: 3.125rem;
  }

  .section-forms__email, .section-forms__name, .section-forms__current, .section-forms__exp {
    max-width: 18.75rem;
  }

  .section-buttons {
    padding-left: 0;
  }
}

