@media screen and (max-width: 1200px) {

  .section {
    &-info {
      display: none;
    }

    &-more {
      &__title {
        margin-left: 21.875rem;
      }

      &__box {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
      }
    }

    &-p {
      width: 34rem;
    }

    &--title {
      max-width: 40rem;
    }

    &-card__body {
      max-width: 60rem;
    }
  }

  .main-content {
    &__picture {
      max-width: 18.75rem;
    }
    &__text {
      &--right {
        padding-top: 25rem;
        //padding-left: -10rem!important;
        padding-right: 10rem;
      }
    }
  }

  .card {
    max-width: 60rem;
  }

  .footer-element__link {
    &--second {
      margin-top: -1.3rem;
      margin-left: -1.5rem;
    }

    &--first {
      margin-top: 2rem;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 992px) {

  .section {
    &-cards {
      margin-left: 0;

      &__body {
        display: none;
      }
    }

    &-brands {
      margin-left: 0;
    }

    &-forms {
      width: 38rem;

      &__control {
        display: none;
      }

      &__email, &__name, &__current {
        max-width: 43.75rem;
      }

      &__exp {
        max-width: 18.3125rem;
      }
    }

    &-title {
      width: 43.75rem;
      margin-top: 2rem;
      margin-left: 3.125rem;
    }

    &-more__title {
      margin-left: 16rem;
    }
  }

  .footer-element {
    &__link {
      &--second {
        display: none;
      }

      &--first {
        display: none;
      }
    }

    &__p {
      margin-left: 22%;
      margin-right: 17%;
    }

    &__button--en {
      margin-right: 17%;
    }

    &__input {
      margin-left: 17%;
    }
  }

  .main-content {
    &__image {
      display: none;
    }

    &__picture {
      margin-top: 6.25rem;
      height: auto;
      width: 3.125rem;
    }

    &__text {
      &--right {
        position: absolute;
        width: 20rem;
        height: 7rem;
        left: 30rem;
        padding-top: 9.375rem;
        font-style: normal;
        font-weight: normal;
        font-size: 0.7rem;
        line-height: 1.5rem;
      }

      &--first {
        position: absolute;
        width: 20rem;
        height: 7rem;
        left: 6.875rem;
        padding-top: 9.375rem;
        font-style: normal;
        font-weight: normal;
        font-size: 0.7rem;
        line-height: 1.5rem;
      }

      &--second {
        position: absolute;
        width: 20rem;
        height: 7rem;
        left: 6.875rem;
        padding-top: 15.625rem;
        font-style: normal;
        font-weight: normal;
        font-size: 0.7rem;
        line-height: 1.5rem;
      }
    }
  }

  //.footer-element__link--first {
  //  max-width: 6.25rem;
  //}
  //.section-forms__control {
  //  max-width: 37.5rem;
  //}
}

@media screen and (max-width: 768px) {

  .section {
    &-cards {
      margin-left: 0;
    }

    &-more {
      &__title {
        margin-left: 10.625rem;
      }

      &__box {
        margin-left: 6.5rem !important;
      }
    }

    &-title {
      width: 31.25rem;
      margin-top: 2rem;
      margin-left: 3.125rem;
    }

    &-forms {
      width: 20rem;

      &__email, &__name, &__current, &__exp {
        max-width: 31.25rem;
      }

      &__btn {
        margin-left: 60px;
      }
    }

    &-p {
      width: 30rem;
    }
  }

  .footer-element {
    &__link {
      &--second {
        display: none;
      }

      &--first {
        display: none;
      }
    }

    &__p {
      width: 25rem;
    }

    &__button {
      margin-left: 0;
    }
  }

  .header-content__description {
    width: 18.75rem;
  }

  .main-content {
    &__image {
      display: none;
    }

    &__text--right {
      margin-top: 16rem;
      //padding-right: 18.75rem;
    }
  }

  .form-group {
    width: 25rem;
    margin-left: 0.0625rem;
  }
  //.section-more__box {
  //  margin-left: 5rem;
  //}
  //
  //.section-forms__exp {
  //  max-width: 18.8rem;
  //  margin-right: 0;
  //}
}

@media screen and (max-width: 576px) {

  .section {
    &-about__tags {
      display: inline;
    }

    &-p {
      width: 20rem;
      margin-bottom: 2.5rem;
      margin-left: 2rem;
    }

    &-cards {
      margin-left: 0;
    }

    &-more {
      &__title {
        margin-left: 6.25rem;
      }
      &__box {
        max-width: 200px;
        margin-left: 40px!important;
        margin-right: 50px!important;
      }
    }

    &-title {
      width: 18.75rem;
      margin-top: 2rem;
      margin-left: 3.125rem;
    }

    &-forms {
      &__email, &__name, &__current {
        max-width: 18.75rem;
      }
    }

    &-buttons {
      padding-left: 0;
    }
  }

  .footer-element {
    &__p {
      width: 20rem;
      margin-left: 13%;
    }

    &__input {
      display: none;
    }

    &__button--en {
      display: none;
    }

    &__link {
      &--second {
        display: none;
      }

      &--first {
        display: none;
      }
    }
  }
  //.section-more__box {
  //  //margin-right: 20rem!important;
  //  //width: 15.625rem;
}

@media screen and (max-width: 435px) {
  .section-more {
    &__box {
      margin-left: 0!important;
      width: 15.625rem;
    }
    &__title {
      margin-left: 3.5rem;
    }
  }
}
