@media screen and (max-width: 1200px) {

  .section-more__box {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 992px) {
  .main-content__image {
    width: 11rem;
    height: 11rem;
    margin-left: 13.125rem;
  }

  .footer-element__link--first {
    margin-bottom: 120px;
    max-width: 100px;
  }

  .main-content__picture {
    margin-top: 6.25rem;
    height: auto;
    width: 50px;
  }

  .main-content__text {

    &--right {
      position: absolute;
      width: 20rem;
      height: 7rem;
      left: 30rem;
      padding-top: 9.375rem;
      font-style: normal;
      font-weight: normal;
      font-size: 0.7rem;
      line-height: 1.5rem;
    }

    &--first {
      position: absolute;
      width: 20rem;
      height: 7rem;
      left: 6.875rem;
      padding-top: 9.375rem;
      font-style: normal;
      font-weight: normal;
      font-size: 0.7rem;
      line-height: 1.5rem;
    }

    &--second {
      position: absolute;
      width: 20rem;
      height: 7rem;
      left: 6.875rem;
      padding-top: 15.625rem;
      font-style: normal;
      font-weight: normal;
      font-size: 0.7rem;
      line-height: 1.5rem;
    }
  }

  .section-title {
    width: 700px;
    margin-top: 2rem;
    margin-left: 3.125rem;
  }

  .section-forms__email, .section-forms__name, .section-forms__current {
    max-width: 700px;
  }

  .section-forms__exp {
    max-width: 293px;
  }

  .section-forms__control {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {

  .section-more__box {
    margin-left: 200px;
  }

  .section-title {
    width: 500px;
    margin-top: 2rem;
    margin-left: 3.125rem;
  }

  .section-forms__email, .section-forms__name, .section-forms__current, .section-forms__exp {
    max-width: 500px;
  }

  .form-group {
    width: 400px;
    margin-left: 1px;
  }
}

@media screen and (max-width: 576px) {

  .section-more__box {
    margin-left: 20px;
    width: 250px;
  }

  .section-title {
    width: 300px;
    margin-top: 2rem;
    margin-left: 3.125rem;
  }

  .section-forms__email, .section-forms__name, .section-forms__current, .section-forms__exp {
    max-width: 300px;
  }

  .section-buttons {
    padding-left: 0;
  }
}

