$color-primary: #165690;
$color-primary-dark: #08321D;
$color-primary-light: #F0F0F0;
$color-dark: #232323;
$color-black: #000;
$color-gray: darken(#fff, 13.5%);
$color-light: #fff;
$color-bg: #E5E5E5;