.navbar-nav > li > a {
  margin: 0.3125rem;
}

a.nav-link {
  font-size: 0.8125rem;
  font-weight: bold;
}

.wb {
  border-radius: 0.0625rem;
}

.header {
  position: relative;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  min-height: 5vh;
  padding: 0.0625rem 0.75rem;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
}

.header-menu__container {
  position: relative;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 0;
  padding-bottom: 1.25rem;
  padding-left: 0;
  grid-template-columns: auto 1fr;
}

.header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-brand__logo {
  margin-right: 0.625rem;
}

.header-brand__logo--dark {
  margin-right: 0.625rem;
  margin-bottom: 0.4375rem;
}

.header-brand__luft {
  font-size: 1.5625rem;
  font-weight: bold;
  margin-left: 0.625rem;
}

.header-brand__software {
  font-size: 1.125rem;
  width: 5rem;
  height: 0.9375rem;
  left: 9.6875rem;
  top: 2.5rem;
  opacity: 0.6;
}

.header-content__title {
  position: relative;
  display: block;
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  font-family: "PT Sans", sans-serif;
  padding-top: 10rem;
  padding-left: 2rem;
}

.header-content__description {
  position: relative;
  display: block;
  color: #fff;
  font-size: 1rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  width: 40.625rem;
}

.content {
  background-color: #fff;
}

.navbar {
  border-bottom: 0.0625rem solid #dddddd;
}

body {
  background-color: #E5E5E5;
  font-size: 16px;
}

.latest {
  position: relative;
}

.latest-element__p {
  width: 12.5rem;
  height: 2.5rem;
  left: 2.5rem;
  margin-top: 2rem;
  font-style: normal;
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
  color: #14301F;
}

.section {
  padding: 1.25rem;
}

.section-card__post {
  display: grid;
  grid-row-gap: 0.625rem;
  grid-column-gap: 0.625rem;
  margin-left: 43rem;
  margin-top: -28.5rem;
  width: 37.5rem;
  height: 25rem;
  padding: 0.625rem;
  background: #14301F;
}

.section-card__post--d1 {
  align-self: start;
  margin-bottom: 8rem;
  width: 7rem;
  height: 7rem;
  grid-row: 2 / 4;
  grid-column: 2;
}

.section-card__post--d2 {
  width: 18rem;
  height: 18rem;
  padding-top: 3rem;
  align-self: start;
  grid-row: 1 / 3;
  grid-column: 3;
}

.section-card__post--d3 {
  width: 7rem;
  height: 7rem;
  grid-row: 2;
  grid-column: 4;
  align-self: end;
}

.section-card__post--d4 {
  width: 4rem;
  height: 4rem;
  align-self: start;
  grid-row: 3 / 7;
  grid-column: 3;
}

.section-card__post--d5 {
  width: 10rem;
  height: 10rem;
  grid-row: 3 / 6;
  grid-column: 4;
  align-self: end;
}

.section-card__post--img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-card__body {
  background-color: #14301F;
  height: 31.25rem;
  border-radius: 0.625rem;
  margin-left: 0.625rem;
}

.section-card__body--photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 0;
  width: 37.5rem;
  height: 24.0625rem;
  background-color: red;
  margin-left: 45rem;
  margin-top: -25rem;
}

.section-card__body--subtitle {
  margin-left: 1.25rem;
  margin-top: 1rem;
}

.section-card__body--title {
  color: #fff;
  width: 25rem;
  margin-left: 1.25rem;
  margin-top: 1rem;
  font-size: 1.875rem;
  font-weight: 700;
}

.section-card__body--text {
  color: #fff;
  width: 37.5rem;
  margin-left: 1.25rem;
  margin-top: 1rem;
}

.section-card__body--btn {
  margin-left: 1.25rem;
  margin-top: 7.1875rem;
  font-weight: 700;
  color: #14301F;
}

.section-info {
  border-width: 0.125rem;
  background-color: #EAEAEA !important;
  border-radius: 0.125rem;
}

.section-info__a {
  background-color: #EAEAEA !important;
  border-width: 0.125rem;
  border-radius: 0.125rem;
}

.section-info__title {
  width: 20.625rem;
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 1rem;
}

.section-info__title--short {
  width: 11.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 1rem;
}

.section-info__text {
  color: #006427;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.section-info__img {
  width: 1.25rem;
  height: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.section-brands {
  width: 2rem;
  height: 10rem;
  padding-top: 2.5rem;
  margin-left: 5rem;
  margin-bottom: 3.125rem;
}

.section-forms {
  margin-top: 3.125rem;
  margin-left: 3.125rem;
  width: 50rem;
}

.section-forms__btn {
  background-color: #14301F;
  margin-top: 1.5rem;
  border-radius: 0.125rem;
  font-size: 1rem;
  font-weight: 600;
}

.section-forms__email, .section-forms__name, .section-forms__current, .section-forms__exp {
  height: 50px;
  border-radius: 0.1875rem;
}

.section-title {
  width: 56.25rem;
  margin-top: 2rem;
  margin-left: 3.125rem;
}

.section-h__four {
  font-weight: 400;
  margin-left: 3.125rem;
}

.section-h__three {
  margin-top: 2.625rem;
  font-size: 2rem;
  font-weight: 650;
  margin-left: 3.125rem;
}

.section-p {
  width: 50rem;
  height: 2.5rem;
  left: 2.5rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  margin-left: 3.125rem;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
  color: #14301F;
}

.section-p__job {
  width: 50rem;
  height: 2.5rem;
  left: 2.5rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  margin-left: 3.125rem;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
  color: #14301F;
}

.section-buttons {
  padding-bottom: 1.25rem;
  padding-left: 3.125rem;
}

.section-buttons__component {
  margin-right: 0.35rem;
}

.section-buttons__component--a {
  margin-right: 0.35rem;
}

.section-button-sort {
  text-transform: uppercase;
}

.section-button-sort--active {
  font-weight: bolder;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  background-color: #EAEAEA !important;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 1.5625rem;
}

.main {
  background-color: #E5E5E5;
  position: relative;
}

.main-content {
  height: 87.5rem;
}

.main-content__desc {
  position: absolute;
  width: 22rem;
  height: 2rem;
  left: 6.875rem;
  padding-top: 5.625rem;
  font-style: normal;
  font-weight: 650;
  font-size: 1.5625rem;
  line-height: 2rem;
}

.main-content__text--first {
  position: absolute;
  width: 37.5rem;
  height: 9rem;
  left: 6.875rem;
  padding-top: 9.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-content__text--second {
  position: absolute;
  width: 37.5rem;
  height: 9rem;
  left: 6.875rem;
  padding-top: 15.625rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-content__text--right {
  position: absolute;
  width: 37.5rem;
  height: 9rem;
  left: 53.125rem;
  padding-top: 9.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-content__image {
  width: 16.25rem;
  height: 15.3125rem;
  margin-top: 5rem;
  margin-left: 13.125rem;
}

.main-content__picture {
  margin-top: 6.25rem;
  height: auto;
  max-width: 100%;
}

.section-cards {
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 3.125rem;
}

.section-cards__p {
  margin-bottom: 0.9375rem;
  margin-left: 0.9375rem;
  font-style: normal;
}

.section-cards__title {
  margin-top: 0.9375rem;
  margin-left: 0.9375rem;
  font-style: normal;
  font-weight: 650;
  font-size: 1.5625rem;
}

.section-cards__button {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-left: 0.9375rem;
}

.section-card__author {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.875rem;
  letter-spacing: 0.0625rem;
  text-align: left;
  color: #A9B3AD;
}

.section-card__title {
  font-size: 1.875rem;
  font-weight: 700;
}

.section-card__text {
  font-weight: 500;
}

.section-card__img {
  height: 100%;
  width: 100%;
}

.section-info:hover {
  border-color: #000;
  background-color: #F3F3F3;
}

.section-info__a:hover {
  border-color: #000;
  background-color: #F3F3F3;
}

.section-btn {
  background-color: #FAFAFA;
  border: none;
  margin-left: 2.5rem;
}

.section-btn__arr {
  color: #7D7D7D;
}

.section-btn__back {
  color: #87958D;
}

.section-image {
  width: 100%;
  margin-top: 0.625rem;
  margin-bottom: 3.125rem;
}

.section-about__title h1 {
  font-weight: 900;
}

.section-about__tags p {
  color: rgba(20, 48, 31, 0.4);
}

.section-about span {
  padding-right: 0.625rem;
}

.section-about__btn {
  background-color: #fff;
  border: none;
  width: 2.1875rem;
}

.section-about__desc {
  color: #7D7D7D;
  font-weight: 650;
  padding-bottom: 1.5625rem;
}

.section-about__image p {
  padding-top: 1.25rem;
}

.section-about__accent {
  border-left: 0.375rem solid black;
  height: auto;
  padding-left: 1.875rem;
}

.section-about__accent strong {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.001rem;
}

.section-about__accent p {
  color: rgba(20, 48, 31, 0.4);
  text-transform: uppercase;
}

.slides {
  margin-top: -2.5rem;
  margin-left: 0.625rem;
}

.section-more {
  background: #F0F0F0;
  padding: 3.125rem 0;
}

.section-more__title {
  font-weight: 750;
  font-size: 1.875rem;
}

.section-more__box {
  margin-top: 1.25rem;
}

.card {
  background-color: transparent;
  margin: 1.25rem;
}

.container-my {
  max-width: 62.5rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.section-mybuttons {
  padding-bottom: 2.5rem;
}

.files input {
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  -o-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 7.5rem 0 5.3125rem 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}

.files {
  position: relative;
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 2.1875rem;
  left: 0;
  width: 3.125rem;
  right: 0;
  height: 3.5rem;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.color input {
  background-color: #f1f1f1;
}

.files:before {
  position: absolute;
  bottom: 0.625rem;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 3.5625rem;
  content: "Drag&drop or browse for computer";
  display: block;
  margin: 0 auto;
  color: #89978F;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.footer {
  position: relative;
}

.footer-brand__luft {
  position: absolute;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
  color: #fff;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125rem;
}

.footer-brand__software {
  position: absolute;
  margin-top: 0.625rem;
  margin-left: 3.4375rem;
  color: #dddddd;
  font-style: normal;
  font-weight: 200;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
}

.footer-brand__img {
  margin-left: 3.43rem;
}

.footer-element__p {
  margin-top: 1.25rem;
  margin-left: 1.875rem;
  width: 31.25rem;
}

.footer-element ::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}

.footer-element ::-moz-placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}

.footer-element :-ms-input-placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}

.footer-element ::-ms-input-placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}

.footer-element ::placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}

.footer-element__input {
  background-color: #55695D;
  border-color: #fff;
  margin-top: 2rem;
  max-width: 32rem;
  height: 3.125rem;
  margin-bottom: 1.25rem;
  margin-left: 1.875rem;
  width: 31.25rem;
  border-width: 0.125rem;
  border-radius: 0.125rem;
}

.footer-element__button {
  margin-left: 10rem;
}

.footer-element__button--en {
  background-color: #fff;
  margin-top: 2rem;
  height: 3.125rem;
  border-radius: 0.0625rem;
  width: 8rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #2F4839;
}

.footer-element__text {
  font-family: "PT Sans", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.875rem;
  letter-spacing: 0.125rem;
  text-align: left;
}

.footer-element__link--first {
  position: absolute;
  margin-top: 3.125rem;
  margin-left: 20rem;
  opacity: 50%;
}

.footer-element__link--second {
  position: absolute;
  margin-top: 1.25rem;
  margin-left: 10rem;
  opacity: 50%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1350px) {
  .section-info__a {
    margin-left: 10rem;
  }
  .section-card__post {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .section-info {
    width: 25rem !important;
  }
  .section-info__a {
    margin-left: 1.2rem;
    width: 25rem !important;
  }
  .section-more__title {
    margin-left: 21.875rem;
  }
  .section-more__box {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
  .section-p {
    width: 34rem;
  }
  .section--title {
    max-width: 40rem;
  }
  .section-card__body {
    max-width: 60rem;
  }
  .main-content__text--right {
    max-width: 36.5rem !important;
    padding-top: 25rem;
    margin-left: -46rem;
  }
  .card {
    max-width: 60rem;
  }
  .footer-element__link--second {
    margin-top: -1rem;
    margin-left: -1.5rem;
  }
  .footer-element__link--first {
    margin-top: 2rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .section-cards {
    margin-left: 0;
  }
  .section-cards__body {
    display: none;
  }
  .section-brands {
    margin-left: 0;
  }
  .section-forms {
    width: 38rem;
  }
  .section-forms__control {
    display: none;
  }
  .section-forms__email, .section-forms__name, .section-forms__current {
    max-width: 43.75rem;
  }
  .section-forms__exp {
    max-width: 18.3125rem;
  }
  .section-title {
    width: 43.75rem;
    margin-top: 2rem;
    margin-left: 3.125rem;
  }
  .section-more__title {
    margin-left: 16rem;
  }
  .footer-element__link--second {
    margin-left: -12rem;
    margin-top: 0;
  }
  .footer-element__link--first {
    margin-left: 0;
  }
  .footer-element__p {
    margin-left: 22%;
    margin-right: 17%;
  }
  .footer-element__button--en {
    margin-right: 17%;
  }
  .footer-element__input {
    margin-left: 17%;
  }
  .main-content {
    height: 60rem;
  }
  .main-content__desc {
    padding-top: 3rem;
  }
  .main-content__image {
    display: none;
  }
  .main-content__picture {
    margin-top: 22rem;
  }
  .main-content__text--right {
    width: 17rem;
    height: 7rem;
    left: 77rem;
    padding-top: 7rem;
    font-size: 0.8rem;
  }
  .main-content__text--first {
    width: 20rem;
    height: 7rem;
    left: 6.875rem;
    padding-top: 7rem;
    font-size: 0.8rem;
  }
  .main-content__text--second {
    width: 20rem;
    height: 7rem;
    left: 6.875rem;
    padding-top: 12rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .section-brands {
    margin-left: 7rem;
    margin-right: 4.5rem;
  }
  .section-title {
    width: 40rem !important;
  }
  .section-card__body {
    height: auto;
  }
  .section-card__body--text {
    padding-right: 30%;
    max-width: 100%;
  }
  .section-card__body--title {
    padding-right: 10%;
    max-width: 100%;
  }
  .section-cards {
    margin-left: 0;
  }
  .section-more__title {
    margin-left: 30%;
  }
  .section-more__box {
    margin-left: 11rem !important;
  }
  .section-title {
    width: 31.25rem;
    margin-top: 2rem;
    margin-left: 3.125rem;
  }
  .section-forms {
    width: 20rem;
  }
  .section-forms__email, .section-forms__name, .section-forms__current, .section-forms__exp {
    max-width: 31.25rem;
  }
  .section-forms__btn {
    margin-left: 3.75rem;
  }
  .section-p {
    width: 30rem;
    margin-bottom: 3rem;
  }
  .section-p__job {
    max-width: 20rem;
  }
  .footer-element__link--second {
    margin-top: 0.1rem;
    margin-left: -20rem;
  }
  .footer-element__link--first {
    margin-top: 5rem;
    margin-left: 12.5rem;
  }
  .footer-element__p {
    width: 25rem;
  }
  .footer-element__button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: -23rem;
  }
  .footer-brand__img {
    margin-left: -6rem;
  }
  .header-content__description {
    width: 18.75rem;
  }
  .main-content {
    height: 70rem;
  }
  .main-content__image {
    display: none;
  }
  .main-content__text--right {
    margin-top: 15rem;
    margin-left: -70rem;
  }
  .form-group {
    width: 25rem;
    margin-left: 0.0625rem;
  }
}

@media screen and (max-width: 576px) {
  .main-content__desc {
    margin-left: -3rem;
  }
  .section-info {
    display: none;
  }
  .section-info__a {
    display: none;
  }
  .section-about__tags {
    display: inline;
  }
  .section-p {
    width: 20rem;
    margin-bottom: 2.5rem;
    margin-left: 2rem;
  }
  .section-cards {
    margin-left: 0;
  }
  .section-more__title {
    margin-left: 6.25rem;
  }
  .section-more__box {
    max-width: 12.5rem;
    margin-left: 2.5rem !important;
    margin-right: 3.125rem !important;
  }
  .section-title {
    width: 18.75rem;
    margin-top: 2rem;
    margin-left: 3.125rem;
  }
  .section-forms__email, .section-forms__name, .section-forms__current {
    max-width: 18.75rem;
  }
  .section-buttons {
    padding-left: 0;
  }
  .footer-element__p {
    width: 20rem;
    margin-left: 13%;
  }
  .footer-element__input {
    display: none;
  }
  .footer-element__button--en {
    display: none;
  }
  .footer-element__link--second {
    margin-top: 1rem;
  }
  .footer-element__link--first {
    margin-top: 4.5rem;
  }
  .card {
    width: 23rem;
  }
}

@media screen and (max-width: 435px) {
  .section {
    padding: 0;
  }
  .section-btn {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .section-mybuttons {
    margin-left: 1rem;
  }
  .section-mybuttons__a {
    margin-top: 1rem;
    margin-left: 5rem;
  }
  .section-buttons__component {
    margin-top: 1rem;
    margin-left: 0.2rem;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .section-buttons__component--a {
    margin-top: 1rem;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .section-more__box {
    margin-left: 0 !important;
    width: 15.625rem;
  }
  .section-more__title {
    margin-left: 3.5rem;
  }
  .section-forms {
    max-width: 19rem;
  }
  .section-forms__email, .section-forms__name, .section-forms__current, .section-forms__exp {
    max-width: 16rem;
    margin-right: 0;
  }
  .section-forms__btn {
    margin-left: 2rem;
  }
  .section-p__job {
    font-size: 2.1875rem;
    width: 18rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .section-title {
    margin-left: 1.5rem;
  }
  .footer-element__p {
    margin-left: 0.5rem;
  }
  .footer-element__link--second {
    display: none;
  }
  .footer-element__link--first {
    display: none;
  }
  .main {
    margin-top: 1.5rem;
  }
  .main-content__desc {
    font-size: 1.2rem;
    width: 17rem;
    margin-left: -3rem;
  }
  .main-content__text--second {
    width: 16rem;
    margin-left: -3rem;
  }
  .main-content__text--first {
    width: 16rem;
    margin-left: -3rem;
  }
  .main-content__text--right {
    width: 16rem;
    margin-left: -73rem;
  }
  .card {
    width: 20rem;
  }
}
