.navbar-nav > li > a {
  margin: 0.3125rem;
}

a.nav-link {
  font-size: 0.8125rem;
  font-weight: bold;
}

.wb {
  border-radius: 0.0625rem;
}

body {
  font-size: 16px;
}

.header {
  position: relative;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  min-height: 5vh;
  padding: 0.0625rem 0.75rem;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  font: "PT Serif", serif;
}

.header-menu__container {
  position: relative;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 0;
  padding-bottom: 1.25rem;
  padding-left: 0;
  grid-template-columns: auto 1fr;
}

.header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-brand__logo {
  margin-right: 0.625rem;
}

.header-brand__luft {
  font-size: 1.5625rem;
  font-weight: bold;
  margin-left: 0.625rem;
}

.header-brand__software {
  font-size: 1.125rem;
  width: 5rem;
  height: 0.9375rem;
  left: 9.6875rem;
  top: 2.5rem;
  opacity: 0.6;
}

.header-content__title {
  position: relative;
  display: block;
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  font-family: "PT Sans", sans-serif;
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 31.25rem;
}

.header-content__description {
  position: relative;
  display: block;
  color: #fff;
  font-size: 1rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  padding-right: 57.25rem;
}

.content {
  background-color: #fff;
}

.navbar {
  border-bottom: 0.0625rem solid #dddddd;
}

.latest {
  position: relative;
}

.latest-element__p {
  width: 12.5rem;
  height: 2.5rem;
  left: 2.5rem;
  margin-top: 2rem;
  font-style: normal;
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
  color: #14301F;
}

.section {
  padding: 1.25rem;
}

.section-p {
  width: 50rem;
  height: 2.5rem;
  left: 2.5rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  margin-left: 3.125rem;
  font-style: normal;
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
  color: #14301F;
}

.section-buttons {
  padding-bottom: 1.25rem;
  padding-left: 3.125rem;
}

.section-buttons__component {
  margin-right: 0.35rem;
}

.section-button-sort {
  text-transform: uppercase;
}

.section-button-sort--active {
  font-weight: bolder;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  margin: auto;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 1.5625rem;
}

.main {
  position: relative;
}

.main-content {
  height: 87.5rem;
}

.main-content__desc {
  position: absolute;
  width: 22rem;
  height: 2rem;
  left: 6.875rem;
  padding-top: 5.625rem;
  font-style: normal;
  font-weight: 650;
  font-size: 1.5625rem;
  line-height: 2rem;
}

.main-content__text--first {
  position: absolute;
  width: 37.5rem;
  height: 9rem;
  left: 6.875rem;
  padding-top: 9.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-content__text--second {
  position: absolute;
  width: 37.5rem;
  height: 9rem;
  left: 6.875rem;
  padding-top: 15.625rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-content__text--right {
  position: absolute;
  width: 37.5rem;
  height: 9rem;
  left: 53.125re;
  padding-top: 9.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-content__image {
  width: 16.25rem;
  height: 15.3125rem;
  margin-top: 5rem;
  margin-left: 13.125rem;
}

.main-content__picture {
  margin-top: 6.25rem;
  height: auto;
  min-width: 100%;
}

.section-cards {
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 3.125rem;
}

.section-cards__p {
  margin-bottom: 0.9375rem;
  margin-left: 0.9375rem;
  font-style: normal;
}

.section-cards__title {
  margin-top: 0.9375rem;
  margin-left: 0.9375rem;
  font-style: normal;
  font-weight: 650;
  font-size: 1.5625rem;
}

.section-cards__button {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-left: 0.9375rem;
}

.footer {
  position: relative;
}

.footer-brand__luft {
  position: absolute;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
  color: #fff;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125rem;
}

.footer-brand__software {
  position: absolute;
  margin-top: 0.625rem;
  margin-left: 3.4375rem;
  color: #dddddd;
  font-style: normal;
  font-weight: 200;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
}

.footer-brand__img {
  margin-left: 3.43rem;
}

.footer-element__button {
  margin-left: 10rem;
}

.footer-element__text {
  font-family: "PT Sans", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.875rem;
  letter-spacing: 0.125rem;
  text-align: left;
}

.footer-element__link--first {
  position: absolute;
  margin-top: 3.125rem;
  margin-left: 20rem;
  opacity: 50%;
}

.footer-element__link--second {
  position: absolute;
  margin-top: 1.25rem;
  margin-left: 10rem;
  opacity: 50%;
}
